.main-footer-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    color: #FFF;

    height: 6rem;

    font-family: 'Montserrat', sans-serif;
}

.footer-links {
    font-size: 1.75rem;
    display: flex;
    gap: 2rem;
}

.footer-text {
    font-size: 0.9rem;
}

@media screen and (max-width: 750px) {
    .main-footer {
        display: none;
    }
}